/* Mise en page de base */

body {
    margin: 0;
    font-family: 'Della Respira', serif;
}


/* scrollbar */

body::-webkit-scrollbar {
    width: 0.8rem;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: #3f3432;
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(132, 65, 49, 0.8);
    /* color of the scroll thumb */
    border-radius: 1rem;
    /* roundness of the scroll thumb */
    border: 1px solid #3f3432;
    /* creates padding around scroll thumb */
}


/* générale */

a {
    text-decoration: none;
    font-family: 'Della Respira';
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    color: #e5cead7d;
    text-shadow: 3px 2px 3px rgba(255, 255, 255, .2), 1px 1px 0px rgba(36, 15, 10, 0);
}

/* header */
header {
    height: 60vh;
    background-image: url(/public/assets/img/HD-wallpaper-puzzle-design-wood.jpg);
    background-size: 14%;

}

/* navbar */

.navbar {
    height: 20%;
    background-color: #3F3432;
    box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.374), 1px 1px 0px rgba(24, 20, 19, 0.082);
}


.navbar-nav {
    margin-top: 0.2rem;
    background: linear-gradient(transparent, #3f3432da, #3f3432b5, #3F3432);
    /* background-color: #894539;     */
    border-radius: 8%;
}


.nav-link {
    font-family: 'Della Respira';
    font-size: 2rem;
    /* color: #e5ceadd9;
    text-shadow: 3px 2px 3px rgba(255, 255, 255, .2), 1px 1px 0px rgba(36, 15, 10, 0); */
    padding: 0 1rem 0 1rem;
    background-color: #c8944a;
    color: transparent;
    text-shadow: 0px 2px 3px #3f3432, 0px 2px 3px #3F3432, 3px 1px 2px #3F3432;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    /* font-weight: lighter; */

}

.nav-link:active,
.nav-link:focus {
    font-size: 2.5rem;
    background-color: #c8944a;
    color: transparent;
    text-shadow: 0px 3px 4px #3f3432, 0px 3px 4px #3f3432, 4px 2px 3px #3f3432;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    transition: 0.3s;
    transform: translateY(6px);
}

.nav-link:hover {
    font-size: 2.5rem;
    background-color: #c6872f;
    color: transparent;
    text-shadow: 0px 3px 4px #3f3432, 0px 3px 4px #3f3432, 4px 2px 3px #3f3432;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    transition: 0.3s;
}

/* titre */

.titleContent {
    background-color: #e5ceadd9;
    margin: 2rem 0 2rem 0;
    height: 65%;
    animation: titleContent 1.2s ease 0s 1 normal forwards;
}

.name {
    font-size: 5rem;
    background-color: #3f3432;
    color: transparent;
    text-shadow: 0px 2px 3px rgb(203, 149, 72, 0.8), 0px 2px 3px #3f34326b, 3px 1px 2px #3f343225;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.job {
    font-size: 3rem;
    background-color: #3f3432;
    color: transparent;
    text-shadow: 0px 2px 3px rgb(203, 149, 72, 0.8), 0px 2px 3px #3f34326b, 3px 1px 2px #3f343225;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.junior {
    font-size: 3rem;
    background-color: #3f3432;
    color: transparent;
    text-shadow: 0px 2px 3px rgb(132, 65, 49, 0.8), 0px 2px 3px #3f34326b, 3px 1px 2px #3f343225;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    animation: junior 1.5s linear 1s 1 normal forwards;
    animation-iteration-count: infinite;
}

/* profil */

h3 {
    font-size: 2rem;
    background-color: #c8944a;
    color: transparent;
    text-shadow: 0px 3px 4px #3f3432, 0px 3px 4px #3f3432, 4px 2px 3px #3f3432;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.profil,
.skills,
.way,
.hobbies,
.contact,
.portfolio {
    background-color: #E5CEAD;
}

p {
    text-align: justify;
    font-size: 1.3rem;
    color: #3F3432;
}

.vertical-line {
    border-left: 2px solid #6c3e37;
    display: inline-block;
    height: 17rem;
    margin: 2rem;
}

.horizontal-line {
    width: 34rem;
    border-bottom: 2px solid #6c3e37;
}

.contentProfil,
.contentSkills,
.contentWay,
.contentHobbies,
.contentContact,
.contentPortfolio {
    display: none;
}

.subtitle {
    border-top: 1px solid #6c3e37;
    background-color: #3F3432;
}

.subtitleContact {
    border-top: 1px solid #6c3e37;
    border-bottom: 1px solid #6c3e37;
    background-color: #3F3432;
}

.profilText1{
    animation: profilText1 1s ease 0s 1 normal forwards;
}

.profilText2{
    animation: profilText2 1s ease 0s 1 normal forwards;
}

.profilText3{
    animation: profilText3 1s ease 0s 1 normal forwards;
}



/* Skills */

li{
    list-style: none outside;
}

li > p{
    font-size: 1rem;
    padding-right: 2rem;
    color: #E5CEAD;
}

.hrSkills{
    width: 75%;
    padding-left: 2px;
    margin-bottom: 0.8rem;
    border-bottom: 1px solid #533c1c;
}

h4{
    background-color: #c8944a;
    color: transparent;
    text-shadow: 0px 3px 4px #6c3e37, 0px 3px 4px #3f3432, 4px 2px 3px #3f3432;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.front, .back, .others, .qualities{
    background-color: #6c3e37;
    border-radius: 1.5rem;
    border: 1px solid #c6872f;
}

.front, .back, .others{
    animation: skills 1s ease 0s 1 normal forwards;
}

.qualities{
    animation: qualities 1s ease 0s 1 normal forwards;
}


/* footer */

footer {
    background-color: #e5ceadd9;
}

footer>p {
    font-size: 1rem;
    background-color: #3f3432;
    color: transparent;
    text-shadow: 0px 2px 3px rgb(132, 65, 49, 0.8), 0px 2px 3px #3f34326b, 3px 1px 2px #3f343225;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}



/* animation */
@keyframes titleContent {
    0% {
        opacity: 0;
        transform: translateX(-250px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes junior {
    0% {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}


@keyframes profilText1 {
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes profilText2 {
	0% {
		opacity: 0;
		transform: translateX(250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes profilText3 {
	0% {
		opacity: 0;
		transform: translateY(250px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes qualities {
	0% {
		opacity: 0;
		transform: translateX(250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes skills {
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

/* responsive */

@media (max-width:850px) {
    .name {
        font-size: 2.5rem;
        text-align: center;
    }

    .job {
        font-size: 1.5rem;
        text-align: center;
    }

    .junior {
        font-size: 1.5rem;
    }

    .horizontal-line {
        width: 4rem;
        border-bottom: 2px solid #6c3e37;
    }
}

@media (max-width:600px) {
    .horizontal-line {
        width: 5rem;
        height: 1px;
        background-color: #6c3e37;
    }
}