/* Mise en page de base */

body {
  margin: 0;
  font-family: 'Della Respira', serif;
}





/* scrollbar */

body::-webkit-scrollbar {
  width: 0.8rem;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #3f3432;
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(132, 65, 49, 0.8);
  /* color of the scroll thumb */
  border-radius: 1rem;
  /* roundness of the scroll thumb */
  border: 1px solid #3f3432;
  /* creates padding around scroll thumb */
}





/* générale */

a {
  text-decoration: none;
  font-family: 'Della Respira';
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  color: #e5cead7d;
  text-shadow: 3px 2px 3px rgba(255, 255, 255, .2), 1px 1px 0px rgba(36, 15, 10, 0);
}




/* header */
.bg {
  background-image: url(/public/assets/img/HD-wallpaper-puzzle-design-wood.jpg);
  background-size: 12%;
}






/* navbar */

.navbar {
  background-color: #3F3432;
  box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.374), 1px 1px 0px rgba(24, 20, 19, 0.082);
  position: sticky;
  /* Make it stick/fixed */
  z-index: 3;
  top: 0;
  /* Stay on top */
  width: 100%;
  /* Full width */
  transition: top 0.3s;
  /* Transition effect when sliding down (and up) */
  /* --bs-navbar-hover-color: rgba(0, 0, 0, 0);
        --bs-navbar-active-color: rgba(0, 0, 0, 0); */
}

.container-fluid {
  --bs-gutter-x: 0;
}

.navbar-nav {
  margin-top: 0.2rem;
  background-color: #3F3432;
}

.nav-link {
  font-family: 'Della Respira';
  font-size: 1.7rem;
  padding: 0 1rem 0 1rem;
  background-color: #c8944a;
  color: transparent;
  text-shadow: 0px 2px 3px #3f3432, 0px 2px 3px #3F3432, 3px 1px 2px #3F3432;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.nav-link:active,
.nav-link:focus {
  font-size: 2rem;
  background-color: #c8944a;
  color: transparent;
  text-shadow: 0px 3px 4px #3f3432, 0px 3px 4px #3f3432, 4px 2px 3px #3f3432;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  transition: 0.3s;
  transform: translateY(6px);
}

.nav-link:hover {
  font-size: 2rem;
  background-color: #c6872f;
  color: transparent;
  text-shadow: 0px 3px 4px #3f3432, 0px 3px 4px #3f3432, 4px 2px 3px #3f3432;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  transition: 0.3s;
}





/* titre */

.titleContent {
  background-color: #e5ceadd9;
  margin: 2rem 0 2rem 0;
  padding: 1rem 0 1rem 0;
  animation: titleContent 1.2s ease 0s 1 normal forwards;
}

h1 {
  font-size: 5rem;
  background-color: #3f3432;
  color: transparent;
  text-shadow: 0px 2px 3px rgb(203, 149, 72, 0.8), 0px 2px 3px #3f34326b, 3px 1px 2px #3f343225;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

h2 {
  font-size: 3rem;
  background-color: #3f3432;
  color: transparent;
  text-shadow: 0px 2px 3px rgb(203, 149, 72, 0.8), 0px 2px 3px #3f34326b, 3px 1px 2px #3f343225;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.junior {
  font-size: 3rem;
  background-color: #3f3432;
  color: transparent;
  text-shadow: 0px 2px 3px rgb(132, 65, 49, 0.8), 0px 2px 3px #3f34326b, 3px 1px 2px #3f343225;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  animation: junior 1.5s linear 1s 1 normal forwards;
  animation-iteration-count: infinite;
}




/* profil */

h3 {
  font-size: 1.8rem;
  background-color: #c8944a;
  color: transparent;
  text-shadow: 0px 3px 4px #3f3432, 0px 3px 4px #3f3432, 4px 2px 3px #3f3432;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.profil,
.way,
.hobbies,
.contact,
.portfolio {
  background-color: #E5CEAD;
}

.iconeSkills {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -1rem;
  margin-right: -1rem;
  width: 5rem;
  -webkit-animation: rotate-90-cw 0.8s 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: rotate-90-cw 0.8s 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.iconeSkillsB {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -1rem;
  margin-left: -1rem;
  width: 5rem;
  -webkit-animation: rotate-90-cw 0.8s 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: rotate-90-cw 0.8s 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


.profilText {
  text-align: justify;
  font-size: 1.3rem;
  color: #3F3432;
}

.vertical-line {
  border-left: 2px solid #6c3e37;
  display: inline-block;
  height: 17rem;
  margin: 1rem;
}

.horizontal-line {
  width: 34rem;
  border-bottom: 2px solid #6c3e37;
}

.subtitle {
  border-top: 2px solid #6c3e37;
  border-bottom: 2px solid #6c3e37;
  background-color: #3F3432;
}

.subtitleContact {
  border-top: 1px solid #6c3e37;
  border-bottom: 1px solid #6c3e37;
  background-color: #3F3432;
}

.profilText {
  animation: profilText 1s ease 0s 1 normal forwards;
}





/* Skills */

.contentSkills {
  background-color: #e5ceadef;
  margin: 2rem 0 2rem 0;
  padding: 1rem 0 1rem 0;
}

li {
  list-style: none outside;
}

li>p {
  padding-right: 1.3rem;
  color: #E5CEAD;
}

.hrSkills {
  width: 75%;
  padding-left: 2px;
  margin-bottom: 0.8rem;
  border-bottom: 1px solid #533c1c;
}

h4 {
  background-color: #c8944a;
  color: transparent;
  text-shadow: 0px 3px 4px #6c3e37, 0px 3px 4px #3f3432, 4px 2px 3px #3f3432;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.front,
.back,
.others {
  background-color: #6c3e37;
  border-radius: 1.5rem;
  border: 1px solid #c6872f;
  position: relative;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

p {
  text-align: justify;
  font-size: 1.2rem;
  color: #E5CEAD;
}





/* timeline */

h4 {
  font-size: 1.5rem;
  background-color: #c8944a;
  color: transparent;
  text-shadow: 0px 3px 4px #3f3432, 0px 3px 4px #3f3432, 4px 2px 3px #3f3432;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

h5 {
  font-size: 1.3rem;
  background-color: #d6503c;
  color: transparent;
  text-shadow: 0px 3px 4px #3F3432, 0px 3px 4px #3F3432, 4px 2px 3px #3F3432;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.contentArrowLeft,
.contentArowRight {
  margin: 0;
  padding: 0;
}

.contentLeft {
  background-color: #3F3432;
  padding: 1rem;
  border-radius: 1rem;
  width: 24rem;
  border: 1px solid #c6872f;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 0.5rem solid transparent;
  border-bottom: 0.5rem solid transparent;
  border-right: 1rem solid #3F3432;
}


.contentRight {
  background-color: #3F3432;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid #c6872f;
  width: 24rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 0.5rem solid transparent;
  border-bottom: 0.5rem solid transparent;
  border-left: 1rem solid #3F3432;
}

.line {
  height: 43rem;
  width: 0.5rem;
  background-color: #6d3f38;
}

.arrow-up {
  width: 0;
  height: 0;
  border-right: 1rem solid transparent;
  border-left: 1rem solid transparent;
  border-bottom: 1.5rem solid #6d3f38;
}

.stageMars2023 {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.coriolis2022 {
  margin-bottom: 1rem;
}

.laManu {
  margin-top: 3rem;
}

.bgButton {
  background-color: #6d3f38;
  border-radius: 1rem;
  border: 1px solid #c6872f;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.button {
  border-radius: 1rem solid #c8944a;
  font-size: 1.7rem;
  background-color: #c8944a;
  color: transparent;
  text-shadow: 0px 2px 3px #6d3f38, 0px 2px 3px #6d3f38, 3px 1px 2px #3F3432;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.bgButton:active,
.bgButton:focus {
  transition: 0.3s;
  transform: translateY(6px);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 10px, rgba(0, 0, 0, 0.22) 0px 4px 8px;
}

.button:active,
.button:focus {
  background-color: #c8944a;
  color: transparent;
  text-shadow: 0px 2px 3px #6d3f38, 0px 2px 3px #6d3f38, 3px 1px 2px #3F3432;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.button:hover {
  background-color: #c8944a;
  color: transparent;
  text-shadow: 0px 2px 3px #6d3f38, 0px 2px 3px #6d3f38, 3px 1px 2px #3F3432;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}



/* hobbies */
.contentHobbies {
  margin: 0;
  background-color: #e5ceadef;
  margin: 2rem 0 2rem 0;
  padding: 1rem 0 1rem 0;
}

.hobby {
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
  perspective: 1000px;
}

.hobbyInner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.hobby:hover .hobbyInner {
  transform: rotateY(180deg);
}

.hobbyInner>img,
.hobbyText {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hobbyInner>img {
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  margin: 0;
  padding: 0;
  border: 1px solid #c6872f;
  object-fit: cover;
}

.hobbyInner>.portugal {
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  margin: 0;
  border: 1px solid #c6872f;
  object-fit: contain;
}

.hobbyInner>.rr {
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  margin: 0;
  border: 1px solid #c6872f;
  object-fit: contain;
  background-color: #223b61;
}

.hobbyInner>.OP {
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  margin: 0;
  border: 1px solid #c6872f;
  object-fit: contain;
  background-color: #000000;
}


.hobbyText {
  background-color: #6c3e37;
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border: 1px solid #c6872f;
  margin: 0;
  object-fit: inherit;
  transform: rotateY(180deg);
}



/* Portfolio */
.carousel-item>img {
  width: 30rem;
  height: 20rem;
  object-fit: fill;
}

.carousel-inner{
  display: flex;
  justify-content: center;
}

.carousel-indicators{
  margin: -2rem;
}

.carousel-indicators [data-bs-target]{
  background-color: #6c3e37;
  
}

.carousel-control-prev-icon {
  background-image: url("/public/assets/img/icons8-back-50.png");
}

.carousel-control-next-icon {
  background-image: url("/public/assets/img/icons8-next-50.png");
}

/* footer */

footer {
  background-color: #6d3f38;
}

footer>p {
  font-size: 1.3rem;
  background-color: #c8944a;
  color: transparent;
  text-shadow: 0px 2px 3px #3f3432, 0px 2px 3px #3F3432, 3px 1px 2px #3F3432;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}



/* animation */

@keyframes titleContent {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes junior {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes profilText {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* puzzle/skills */

@-webkit-keyframes rotate-90-cw {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

@keyframes rotate-90-cw {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}



/* skills */

.front {
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 1s ease-in-out,
    opacity 0.6s ease-in-out;
}

.front.active {
  transform: translateX(0%);
  transition: transform 1s ease;
  opacity: 1;
}

.back {
  transform: translateX(+100%);
  opacity: 0;
  transition: transform 1s ease-in-out,
    opacity 0.6s ease-in-out;
}

.back.active {
  transform: translateX(0%);
  transition: transform 1s ease;
  opacity: 1;
}

.others {
  transform: translateY(+100%);
  opacity: 0;
  transition: transform 1s ease-in-out,
    opacity 0.6s ease-in-out;
}

.others.active {
  transform: translateY(0%);
  transition: transform 1s ease;
  opacity: 1;
}



/* responsive */

@media (max-width:600px) {
  .horizontal-line {
    width: 5rem;
    height: 1px;
    background-color: #6c3e37;
  }

  /* timeline */

  .contentWay {
    --bs-gutter-x: 0rem;
    margin: 0;
  }

  .contentLeft {
    background-color: #3F3432;
    padding: 0.5rem;
    border-radius: 1rem;
    width: 18rem;
    border: 1px solid #c6872f;
  }

  .arrow-left {
    width: 0;
    height: 0;
    border-top: 0.5rem solid transparent;
    border-bottom: 0.5rem solid transparent;
    border-right: 1rem solid #3F3432;
  }


  .contentRight {
    background-color: #3F3432;
    padding: 0.5rem;
    border-radius: 1rem;
    border: 1px solid #c6872f;
    width: 18rem;
  }

  .arrow-right {
    width: 0;
    height: 0;
    border-top: 0.5rem solid transparent;
    border-bottom: 0.5rem solid transparent;
    border-left: 1rem solid #3F3432;
  }

  .line {
    height: 100rem;
    width: 0.5rem;
    background-color: #6d3f38;
  }

  .stageMars2023 {
    margin: 0;
  }

  .coriolis2022 {
    margin: 0;
  }

  .laManu {
    margin: 0;
  }

  .contentArrowRight {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

}

@media (max-width:850px) {
  h1 {
    font-size: 3rem;
    text-align: center;
  }

  h2 {
    font-size: 2rem;
    text-align: center;
  }

  .junior {
    font-size: 2rem;
  }

  .horizontal-line {
    width: 4rem;
    border-bottom: 2px solid #6c3e37;
  }

  /* timeline */

  .contentWay {
    --bs-gutter-x: 0rem;
    margin: 0;
  }

  .contentLeft {
    background-color: #3F3432;
    padding: 1rem;
    border-radius: 1rem;
    width: 20rem;
    border: 1px solid #c6872f;
  }

  .arrow-left {
    width: 0;
    height: 0;
    border-top: 0.5rem solid transparent;
    border-bottom: 0.5rem solid transparent;
    border-right: 1rem solid #3F3432;
  }


  .contentRight {
    background-color: #3F3432;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid #c6872f;
    width: 20rem;
  }

  .arrow-right {
    width: 0;
    height: 0;
    border-top: 0.5rem solid transparent;
    border-bottom: 0.5rem solid transparent;
    border-left: 1rem solid #3F3432;
  }

  .line {
    height: 75rem;
    width: 0.5rem;
    background-color: #6d3f38;
  }

  .stageMars2023 {

    margin-bottom: 1rem;
  }

  .coriolis2022 {
    margin-bottom: 1rem;
  }

  .laManu {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  /* .contentArrowRight {
                    margin-top: 0.5rem;
                    margin-bottom: 0.5rem;
                  } */

}


@media (min-width:1250px) {
  .name {
    width: 60%;
  }

  .job {
    width: 50%;
  }

  /* timeline */

  .contentWay {
    --bs-gutter-x: 0rem;
    margin: 0;
  }

  .contentLeft {
    background-color: #3F3432;
    padding: 1rem;
    border-radius: 1rem;
    width: 35rem;
    border: 1px solid #c6872f;
  }

  .arrow-left {
    width: 0;
    height: 0;
    border-top: 0.5rem solid transparent;
    border-bottom: 0.5rem solid transparent;
    border-right: 1rem solid #3F3432;
  }


  .contentRight {
    background-color: #3F3432;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid #c6872f;
    width: 35rem;
  }

  .arrow-right {
    width: 0;
    height: 0;
    border-top: 0.5rem solid transparent;
    border-bottom: 0.5rem solid transparent;
    border-left: 1rem solid #3F3432;
  }

  .line {
    height: 40rem;
    width: 0.5rem;
    background-color: #6d3f38;
  }

  .stageMars2023 {

    margin-bottom: 2rem;
  }

  .coriolis2022 {
    margin-bottom: 1rem;
  }

  .laManu {
    margin-top: 2rem;
  }
}